# HR Analytics ‚Äì Data Cleaning & Preparation

Ce notebook est une version **am√©lior√©e et plus professionnelle** du nettoyage des donn√©es RH.

Objectifs :  
- Charger et auditer les donn√©es  
- Nettoyer les colonnes peu utiles et les incoh√©rences  
- Cr√©er des variables d√©riv√©es utiles pour Power BI  
- Pr√©parer une version **analytique** (pour Power BI) et une version **mod√©lisation** (ML possible)  
- Exporter les fichiers propres

> üí° Place ce notebook dans le **m√™me dossier** que `HR_Analytics.csv`.

## 1. Imports & configuration

In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 140)

RAW_FILE = 'HR_Analytics.csv'
CLEAN_ANALYTICS_FILE = 'HR_Analytics_clean_analytics.csv'
CLEAN_ML_FILE = 'HR_Analytics_clean_ml.csv'

## 2. Chargement du dataset brut

In [4]:
df = pd.read_csv(RAW_FILE)
print("Shape initiale :", df.shape)
df.head()

Shape initiale : (1480, 38)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,405,3,Male,54,3,1,Laboratory Technician,3,Single,1420,Upto 5k,25233,1,Y,No,13,3,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,1,411,4,Female,69,2,1,Sales Representative,3,Single,1200,Upto 5k,9724,1,Y,No,12,3,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,1,614,2,Male,69,3,1,Sales Representative,2,Single,1878,Upto 5k,8059,1,Y,Yes,14,3,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1,1012,2,Male,73,3,1,Research Scientist,4,Single,1051,Upto 5k,13493,1,Y,No,15,3,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,1,1156,3,Male,80,3,1,Laboratory Technician,3,Single,1904,Upto 5k,13556,1,Y,No,12,3,4,80,0,0,0,3,0,0,0,0.0

## 3. Audit rapide de la structure des donn√©es

In [5]:
print("\nAper√ßu des colonnes :")
print(df.columns.tolist())

print("\nInfo :")
df.info()

Aper√ßu des colonnes :
['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'SalarySlab', 'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

Info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmpID                     1480 non-null   object
 1   Age                       1480 non-null   int64
 2   AgeGroup                  1480 non-null   object
 3   Attrition                 1480 non-null   object
 4   BusinessTravel            1480 non-null   object
 5   DailyRate                 1480 non-null   int64
 6   Department                1480 non-null   object
 7   DistanceFromHome          1480 non-null   int64
 8   Education                 1480 non-null   int64
 9   EducationField            1480 non-null   object
 10  EmployeeCount             1480 non-null   int64
 11  EmployeeNumber            1480 non-null   int64
 12  EnvironmentSatisfaction   1480 non-null   int64
 13  Gender                    1480 non-null   object
 14  HourlyRate                1480 non-null   int64
 15  JobInvolvement            1480 non-null   int64
 16  JobLevel                  1480 non-null   int64
 17  JobRole                   1480 non-null   object
 18  JobSatisfaction           1480 non-null   int64
 19  MaritalStatus             1480 non-null   object
 20  MonthlyIncome             1480 non-null   int64
 21  SalarySlab                1480 non-null   object
 22  MonthlyRate               1480 non-null   int64
 23  NumCompaniesWorked        1480 non-null   int64
 24  Over18                    1480 non-null   object
 25  OverTime                  1480 non-null   object
 26  PercentSalaryHike         1480 non-null   int64
 27  PerformanceRating         1480 non-null   int64
 28  RelationshipSatisfaction  1480 non-null   int64
 29  StandardHours             1480 non-null   int64
 30  StockOptionLevel          1480 non-null   int64
 31  TotalWorkingYears         1480 non-null   int64
 32  TrainingTimesLastYear     1480 non-null   int64
 33  WorkLifeBalance           1480 non-null   int64
 34  YearsAtCompany            1480 non-null   int64
 35  YearsInCurrentRole        1480 non-null   int64
 36  YearsSinceLastPromotion   1480 non-null   int64
 37  YearsWithCurrManager      1423 non-null   float64
dtypes: float64(1), int64(25), object(12)
memory usage: 439.5+ KB

In [6]:
print("R√©sum√© statistique des variables num√©riques :")
df.describe().T

R√©sum√© statistique des variables num√©riques :

                           count          mean          std     min      25%      50%       75%      max
Age                       1480.0     36.917568     9.128559    18.0    30.00     36.0     43.00     60.0
DailyRate                 1480.0    801.384459   403.126988   102.0   465.00    800.0   1157.00   1499.0
DistanceFromHome          1480.0      9.220270     8.131201     1.0     2.00      7.0     14.00     29.0
Education                 1480.0      2.910811     1.023796     1.0     2.00      3.0      4.00      5.0
EmployeeCount             1480.0      1.000000     0.000000     1.0     1.00      1.0      1.00      1.0
EmployeeNumber            1480.0   1031.860811   605.955046     1.0   493.75   1027.5   1568.25   2068.0
EnvironmentSatisfaction   1480.0      2.724324     1.092579     1.0     2.00      3.0      4.00      4.0
HourlyRate                1480.0     65.845270    20.328266    30.0    48.00     66.0     83.00    100.0
JobInvolvement            1480.0      2.729730     0.713007     1.0     2.00      3.0      3.00      4.0
JobLevel                  1480.0      2.064865     1.105574     1.0     1.00      2.0      3.00      5.0
JobSatisfaction           1480.0      2.725000     1.104137     1.0     2.00      3.0      4.00      4.0
MonthlyIncome             1480.0   6504.985811  4700.261400  1009.0  2922.25   4933.0   8383.75  19999.0
MonthlyRate               1480.0  14298.460811  7112.056802  2094.0  8051.00  14220.0  20460.50  26999.0
NumCompaniesWorked        1480.0      2.687162     2.494098     0.0     1.00      2.0      4.00      9.0
PercentSalaryHike         1480.0     15.210135     3.655338    11.0    12.00     14.0     18.00     25.0
PerformanceRating         1480.0      3.153378     0.360474     3.0     3.00      3.0      3.00      4.0
RelationshipSatisfaction  1480.0      2.708784     1.081995     1.0     2.00      3.0      4.00      4.0
StandardHours             1480.0     80.000000     0.000000    80.0    80.00     80.0     80.00     80.0
StockOptionLevel          1480.0      0.791892     0.850527     0.0     0.00      1.0      1.00      3.0
TotalWorkingYears         1480.0     11.281757     7.770870     0.0     6.00     10.0     15.00     40.0
TrainingTimesLastYear     1480.0      2.797973     1.288791     0.0     2.00      3.0      3.00      6.0
WorkLifeBalance           1480.0      2.760811     0.707024     1.0     2.00      3.0      3.00      4.0
YearsAtCompany            1480.0      7.009459     6.117945     0.0     3.00      5.0      9.00     40.0
YearsInCurrentRole        1480.0      4.228378     3.616020     0.0     2.00      3.0      7.00     18.0
YearsSinceLastPromotion   1480.0      2.182432     3.219357     0.0     0.00      1.0      3.00     15.0
YearsWithCurrManager      1423.0      4.118060     3.555484     0.0     2.00      3.0      7.00     17.0

## 4. Analyse des valeurs manquantes

In [7]:
missing = df.isna().sum().sort_values(ascending=False)
missing[missing > 0]

YearsWithCurrManager    57
dtype: int64

## 5. Doublons

In [8]:
dup_count = df.duplicated().sum()
print("Nombre de lignes dupliqu√©es :", dup_count)

if dup_count > 0:
    df = df.drop_duplicates().reset_index(drop=True)
    print("Doublons supprim√©s. Nouvelle shape :", df.shape)

Nombre de lignes dupliqu√©es : 7
Doublons supprim√©s. Nouvelle shape : (1473, 38)

## 6. Suppression des colonnes peu informatives

Dans beaucoup de jeux de donn√©es RH (HR Analytics), les colonnes suivantes sont constantes :  
- `EmployeeCount`  
- `Over18`  
- `StandardHours`  

Elles n'apportent pas d'information pour l'analyse, on les retire.

In [9]:
low_info_cols = []
for col in ['EmployeeCount', 'Over18', 'StandardHours']:
    if col in df.columns and df[col].nunique() <= 1:
        low_info_cols.append(col)

print("Colonnes √† faible information :", low_info_cols)
df = df.drop(columns=low_info_cols, errors='ignore')
print("Shape apr√®s suppression des colonnes peu informatives :", df.shape)

Colonnes √† faible information : ['EmployeeCount', 'Over18', 'StandardHours']
Shape apr√®s suppression des colonnes peu informatives : (1473, 35)

## 7. Harmonisation des colonnes cat√©gorielles cl√©s

In [10]:
# Fonctions utilitaires
def clean_text(s):
    if pd.isna(s):
        return s
    return str(s).strip().replace('_', ' ').title()

if 'Attrition' in df.columns:
    df['Attrition'] = df['Attrition'].astype(str).str.strip().str.title()

for col in ['BusinessTravel', 'Department', 'EducationField', 'JobRole', 'MaritalStatus']:
    if col in df.columns:
        df[col] = df[col].apply(clean_text)

df[['Attrition'] + [c for c in ['BusinessTravel','Department','JobRole'] if c in df.columns]].head()

  Attrition     BusinessTravel              Department                JobRole
0       Yes      Travel Rarely  Research & Development  Laboratory Technician
1        No      Travel Rarely                   Sales   Sales Representative
2       Yes  Travel Frequently                   Sales   Sales Representative
3        No         Non-Travel  Research & Development     Research Scientist
4       Yes         Non-Travel  Research & Development  Laboratory Technician

## 8. V√©rification & correction des types de donn√©es

In [11]:
numeric_candidates = ['Age', 'DailyRate', 'DistanceFromHome', 'HourlyRate',
                      'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
                      'PercentSalaryHike', 'TotalWorkingYears', 'TrainingTimesLastYear',
                      'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
                      'YearsWithCurrManager']

for col in numeric_candidates:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

df.dtypes.head(20)

EmpID                      object
Age                         int64
AgeGroup                   object
Attrition                  object
BusinessTravel             object
DailyRate                   int64
Department                 object
DistanceFromHome            int64
Education                   int64
EducationField             object
EmployeeNumber              int64
EnvironmentSatisfaction     int64
Gender                     object
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
JobRole                    object
JobSatisfaction             int64
MaritalStatus              object
MonthlyIncome               int64
dtype: object

## 9. Feature engineering (variables d√©riv√©es)

On cr√©e des variables utiles pour Power BI et d'√©ventuels mod√®les :  
- `AgeGroup`  
- `SeniorityGroup`  
- `SalaryBand`  
- `IsAttrition` (variable bool√©enne pour la mod√©lisation)

In [12]:
# AgeGroup
if 'Age' in df.columns:
    bins_age = [17, 25, 35, 45, 60]
    labels_age = ['18-25', '26-35', '36-45', '46-60']
    df['AgeGroup'] = pd.cut(df['Age'], bins=bins_age, labels=labels_age)

# SeniorityGroup
if 'YearsAtCompany' in df.columns:
    bins_sen = [-1, 2, 5, 10, 40]
    labels_sen = ['0-2 ans', '3-5 ans', '6-10 ans', '10+ ans']
    df['SeniorityGroup'] = pd.cut(df['YearsAtCompany'], bins=bins_sen, labels=labels_sen)

# SalaryBand
if 'MonthlyIncome' in df.columns:
    bins_sal = [0, 3000, 6000, 9000, 20000]
    labels_sal = ['Faible', 'Moyen', '√âlev√©', 'Tr√®s √©lev√©']
    df['SalaryBand'] = pd.cut(df['MonthlyIncome'], bins=bins_sal, labels=labels_sal)

# IsAttrition (pour ML / stats)
if 'Attrition' in df.columns:
    df['IsAttrition'] = (df['Attrition'] == 'Yes').astype(int)

df[['Age','AgeGroup','YearsAtCompany','SeniorityGroup','MonthlyIncome','SalaryBand','Attrition','IsAttrition']].head()

   Age AgeGroup  YearsAtCompany SeniorityGroup  MonthlyIncome SalaryBand Attrition  IsAttrition
0   18    18-25               0        0-2 ans           1420     Faible       Yes            1
1   18    18-25               0        0-2 ans           1200     Faible        No            0
2   18    18-25               0        0-2 ans           1878     Faible       Yes            1
3   18    18-25               0        0-2 ans           1051     Faible        No            0
4   18    18-25               0        0-2 ans           1904     Faible       Yes            1

## 10. V√©rification de l'√©quilibre de la cible (Attrition)

In [13]:
if 'Attrition' in df.columns:
    print(df['Attrition'].value_counts(normalize=True).mul(100).round(1))
    print("\nIsAttrition (0/1):\n", df['IsAttrition'].value_counts(normalize=True).mul(100).round(1))

Attrition
No     83.9
Yes    16.1
Name: proportion, dtype: float64

IsAttrition (0/1):
 IsAttrition
0    83.9
1    16.1
Name: proportion, dtype: float64

## 11. Aper√ßu rapide des corr√©lations num√©riques

In [14]:
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
corr = df[numeric_cols].corr()
corr['IsAttrition'].sort_values(ascending=False).head(15) if 'IsAttrition' in corr.columns else corr

IsAttrition                 1.000000
DistanceFromHome            0.077585
NumCompaniesWorked          0.043469
MonthlyRate                 0.014647
PerformanceRating           0.003268
HourlyRate                 -0.005593
EmployeeNumber             -0.012076
PercentSalaryHike          -0.013827
Education                  -0.030526
YearsSinceLastPromotion    -0.032487
RelationshipSatisfaction   -0.045763
DailyRate                  -0.056809
TrainingTimesLastYear      -0.059769
WorkLifeBalance            -0.064221
JobSatisfaction            -0.103276
Name: IsAttrition, dtype: float64

## 12. Pr√©paration de la version **Analytics** pour Power BI

In [15]:
df_analytics = df.copy()

# On garde toutes les colonnes utiles, y compris les variables d√©riv√©es.
print("Shape df_analytics :", df_analytics.shape)
df_analytics.head()

Shape df_analytics : (1473, 38)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,SeniorityGroup,SalaryBand,IsAttrition
0,RM297,18,18-25,Yes,Travel Rarely,230,Research & Development,3,3,Life Sciences,405,3,Male,54,3,1,Laboratory Technician,3,Single,1420,Upto 5k,25233,1,No,13,3,3,0,0,2,3,0,0,0,0.0,0-2 ans,Faible,1
1,RM302,18,18-25,No,Travel Rarely,812,Sales,10,3,Medical,411,4,Female,69,2,1,Sales Representative,3,Single,1200,Upto 5k,9724,1,No,12,3,1,0,0,2,3,0,0,0,0.0,0-2 ans,Faible,0
2,RM458,18,18-25,Yes,Travel Frequently,1306,Sales,5,3,Marketing,614,2,Male,69,3,1,Sales Representative,2,Single,1878,Upto 5k,8059,1,Yes,14,3,4,0,0,3,3,0,0,0,0.0,0-2 ans,Faible,1
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1012,2,Male,73,3,1,Research Scientist,4,Single,1051,Upto 5k,13493,1,No,15,3,4,0,0,2,3,0,0,0,0.0,0-2 ans,Faible,0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,1156,3,Male,80,3,1,Laboratory Technician,3,Single,1904,Upto 5k,13556,1,No,12,3,4,0,0,0,3,0,0,0,0.0,0-2 ans,Faible,1

## 13. Pr√©paration de la version **Mod√©lisation** (ML)

In [16]:
df_ml = df.copy()

# Exemple : on retire les identifiants directs
for col in ['EmployeeNumber', 'EmployeeID', 'Employee_Id']:
    if col in df_ml.columns:
        df_ml = df_ml.drop(columns=[col])

print("Colonnes df_ml :", len(df_ml.columns))
df_ml.head()

Colonnes df_ml : 37

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,SeniorityGroup,SalaryBand,IsAttrition
0,RM297,18,18-25,Yes,Travel Rarely,230,Research & Development,3,3,Life Sciences,3,Male,54,3,1,Laboratory Technician,3,Single,1420,Upto 5k,25233,1,No,13,3,3,0,0,2,3,0,0,0,0.0,0-2 ans,Faible,1
1,RM302,18,18-25,No,Travel Rarely,812,Sales,10,3,Medical,4,Female,69,2,1,Sales Representative,3,Single,1200,Upto 5k,9724,1,No,12,3,1,0,0,2,3,0,0,0,0.0,0-2 ans,Faible,0
2,RM458,18,18-25,Yes,Travel Frequently,1306,Sales,5,3,Marketing,2,Male,69,3,1,Sales Representative,2,Single,1878,Upto 5k,8059,1,Yes,14,3,4,0,0,3,3,0,0,0,0.0,0-2 ans,Faible,1
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,2,Male,73,3,1,Research Scientist,4,Single,1051,Upto 5k,13493,1,No,15,3,4,0,0,2,3,0,0,0,0.0,0-2 ans,Faible,0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,3,Male,80,3,1,Laboratory Technician,3,Single,1904,Upto 5k,13556,1,No,12,3,4,0,0,0,3,0,0,0,0.0,0-2 ans,Faible,1

## 14. Export des fichiers nettoy√©s

In [17]:
df_analytics.to_csv(CLEAN_ANALYTICS_FILE, index=False)
print("Fichier analytics export√© :", CLEAN_ANALYTICS_FILE)

df_ml.to_csv(CLEAN_ML_FILE, index=False)
print("Fichier ML export√© :", CLEAN_ML_FILE)

Fichier analytics export√© : HR_Analytics_clean_analytics.csv
Fichier ML export√© : HR_Analytics_clean_ml.csv

## 15. R√©sum√©

Ce notebook :  
- nettoie les colonnes redondantes et les incoh√©rences texte  
- harmonise les types  
- cr√©e des variables d√©riv√©es utiles (`AgeGroup`, `SeniorityGroup`, `SalaryBand`, `IsAttrition`)  
- pr√©pare **2 fichiers** :  
  - `HR_Analytics_clean_analytics.csv` ‚Üí pour Power BI  
  - `HR_Analytics_clean_ml.csv` ‚Üí pour d'√©ventuelles analyses statistiques ou mod√®les de pr√©diction

Tu peux maintenant :  
- connecter Power BI au fichier `HR_Analytics_clean_analytics.csv`  
- ou utiliser `HR_Analytics_clean_ml.csv` dans un autre notebook pour la mod√©lisation.